.inputFields {
  display: flex;
  justify-content: top;
  flex-flow: row;
  margin: 20px;
  column-gap: 10px;
  align-items: center;
}
input {
  height: 32px;
width: max-content;
font-size: medium;
text-align: left;
}

.resultContent {
display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 20px;
  column-gap: 10px;
  align-items: left;
  background-color: #f2f2f3;
  border-radius: 8px;
  padding: 15px;
}

h2, p {
  line-height: 1;
  text-align: left;
  padding-left: 20px
}

.profit {
  color: green;
  font-weight: bold;
}

.loss {
  color: red;
  font-weight: bold;
}